<div class='block'>
<div class='content'>
<div class='inner'>
<h2> Edit <%= resource_class.name %></h2>
<%= render "form" %>

<p><%= link_to "Show", resource_url(resource) %></p>
<p><%= link_to "Back", collection_url %></p>
</div>
</div>
</div>