<table>
<% resource.attributes.each do |a| %>
  <tr>
    <th><%= a[0] %></th>
    <td><%= a[1] %></td>
  </tr>
<% end %>
</table>
<% if element_actions.include? :edit %>
<p><%= link_to "Edit", edit_resource_url(resource) %></p>
<% end %>
<p><%= link_to "Back", collection_url %></p>